.headercomponent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px  dashed var(--maincolor);
    align-items: center;
    h1{
        margin: 1rem 1rem 0;
        font-size: 6rem ;
        font-weight: 500;
        color: var(--maincolor);
        text-transform:uppercase;
    }
    span{
        margin: 1rem 1rem 1rem 0;
        color: var(--maincolor);
    }
}