.navbar {
    background-color: var(--nav-color);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1900;
    overflow:hidden
}

.navbarcontainer {
    display: flex;
    align-items: center;
    width: 100%;
    flex: 1;
}

.navbarlogo {
    margin-left: 2rem;
    color: var(--maincolor);
}

.containerMenu {
    display: flex;
    list-style: none;
    flex: 1;
    justify-content: center;
}

.nav-icon {
    display: none;
}

.menuitems {
    line-height: 40px;
    height: inherit;
    font-size: 1.6rem;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuitem {
    color: var(--maincolor);
    text-decoration: none;
    padding: 0.5rem;
    cursor: pointer;

}

.menuitem::after {
    content: '';
    display: block;
    height: 3px;
    width: 0;
    background-color: #282828;
    transition: all 0.5s ease-in-out;
}

.menuitem:hover::after {
    width: 100%;
    background-color: var(--maincolor);
}
.menuitem .active{
    background-color: aliceblue;
}

@media only screen and (max-width: 768px) {
    .containerMenu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 12;
        width: 100vw;
        position: absolute;
        left: -110%;
        top: 80px;
        opacity: 0;
        transition: all 0.5s ease;
        cursor: pointer;
    }
    
    .containerMenu.active {
        left: 0;
        background: #181818;
        opacity: 1;
    }

    .menuitem {
        border-bottom: 1px solid #282828;
        margin-bottom: 0px;
        padding: 20px 0px;
        cursor: pointer;
    }

    .menuitem::after {
        content: none; /* Disable the ::after element on small screens */
    }

    .nav-icon {
        display: block;
        cursor: pointer;
        color: var(--maincolor);
        padding-right: 1rem;
        height: 4rem;
    }

}

