.containerAbout{
    display: flex;
}

.aboutcontent{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    width: 50%;

}
.AboutFirst{
    border-bottom: 2px  dashed var(--maincolor);
    width: 100%;
    
    h2{
        margin: 1rem 0 0 0.5rem;
        font-size: 3rem ;
        font-weight: 500;
        color: var(--maincolor);

    }
    p{
        margin-top: 3rem;
        font-size: 2rem;
        margin-bottom: 2rem;
        line-height: 1.3;
        padding: 1rem;

    }
}
.Aboutsecond{
    width: 100%;
    h2{
        margin: 1rem 0 0 0.5rem;
        font-size: 3rem ;
        font-weight: 500;
        color: var(--maincolor);
    }
    h3{
        margin-top: 1rem;

        display: inline;
        margin-top: 3rem;
        font-size: 2rem;
        margin: 1rem;
        border-bottom: 2px solid var(--maincolor);
        position: relative;
    }
    h3::after{
        content: ':';
    }
    p{
        display: inline;
        margin-bottom: 2rem;
        font-size: 1.5rem;
        line-height: 1.3;
        letter-spacing: 0.8px;

    }
    .a1{
        display: block;
        margin-top: 1rem;
    }
}
.leftbar{
    width: 50%  ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.servicewraper{
    width: 350px;
    height: 350px;
    background:radial-gradient(180px,var(--maincolor),transparent 90%);
    position: relative;
    border-radius: 50%;
    border: 1.5px solid var(--maincolor);
    animation: rotate 10s linear infinite;
}
@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
.servicewraper div:nth-child(1) {
    position: absolute;
    top: -11%;
    left: 39%;
}
.servicewraper div:nth-child(2) {
    position: absolute;
    top: 39%;
    left: -8%;
    
}
.servicewraper div:nth-child(3) {
    position: absolute;
    top: 90%;
    left: 44%;
    
}
.servicewraper div:nth-child(4) {
    position: absolute;
    top: 39%;
    right: 9%;
}
@media screen and (max-width:768px){

    .containerAbout{
    display: flex;
    flex-direction: column;
}
.aboutcontent{
    width: 100%;
}
.servicewraper{
    width: 250px;
    height: 250px;
    margin-top: 40px;
    background:radial-gradient(120px,var(--maincolor),transparent 90%);

}
}