.portfoliocontainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position:relative;
  background-color: var(--background);   /* Applies the --background color to the body background */

}

.portfolio {
  position: relative;
  width: 350px;
  height: 350px;
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  overflow: hidden;
  margin: 5rem;

  div {
    z-index: 3;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 330px;
    width: 330px;
    background-color: var(--maincolor);
    opacity: 0;
  }
}

.div:hover {
  animation: animatee 1s;
  opacity: 1;
}

@keyframes animatee {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.text {
  position: absolute;
  font-size: 2rem;
  white-space: nowrap;
}

button {
  position: relative;
  top: 10%;
  width: 113px;
  height: 24px;
  border-radius: 24px;
  border: 1px solid black;
  color: black;
  cursor: pointer;
}

.portfolio::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 140%;
  background-color: var(--maincolor);
  animation: animate 4s linear infinite;
}

.portfolio::after {
  content: "";
  position: absolute;
  background-color: #282828;
  inset: 10px;
}

img {
  z-index: 2;
  width: 330px;
  height: 330px;
  object-fit: cover;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 768px) {
  .portfoliocontainer {
    flex-direction: column;
    align-items: center;
  }

  .portfolio {
    flex-direction: column;
    align-items: center; 
    width: 300px;
    height: 300px;
    div {
      z-index: 3;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
   
      background-color: var(--maincolor);
      opacity: 0;
      transition: opacity 1s ease-in-out;
    }

    &:hover div {
      opacity: 1;

    }
  }

  .portfolio-item {
    width: 100%;
    max-width: 400px;
  }

  .portfolio-image {
    width: 290px;
    height: 290px;

    object-fit: cover;
  }

  .text {
    font-size: 1.5rem;
  }

  button {
    width: 80px;
    height: 30px;
    font-size: 0.9rem;
    position: absolute;
    top: 58%;
    left: 39%;  }
}
