
.contact{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column  ;
    background-color: var(--background);   /* Applies the --background color to the body background */
    gap: 1rem;   
    position: relative;
    margin-bottom: 5rem;



h1{
    font-size: 4rem;
  margin: 1rem;
  margin-right: auto;
    border-bottom: 2px solid var(--maincolor);

}
.contactfirst{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-around;
    input{
        width: 40%;
        padding: 10px;
        background-color: transparent;   
        color: white;



    }
}
.inputtext{
    display: block;
    width: 70%;
    height: 30%;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 40px 0px 40px 50px;
    background-color: transparent;
    color: white;



}
}
.contactbutton{
    margin-left: 52%;
    background-color: transparent;
    margin-bottom: 1rem;


}
@media screen and (max-width:768px) {
    .contactbutton{
        position: absolute;
        top: 75%;
        left: -11%;
    }
}
.footer{
    height:50px;
    width: 100%;
    display: flex;justify-content: center;
    align-items: center;
    gap: 2rem;
   a{
    font-size: 30px;
    
   }
}