:root {
  --background: #1d1d1d;   /* Custom property for background color */
  --maincolor: #ffdd40;     /* Custom property for main color */
  --text: #ffffff;          /* Custom property for text color */
  --nav-color: #181818;     /* Custom property for navigation color */
}

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;   /* Sets the base font size to 10px (for easier rem calculations) */
  height: 100%;  
  /* Makes sure HTML takes up the full height of the viewport */
}
::-webkit-scrollbar{
  display: none;
}   
body {
  background-color: var(--background);   /* Applies the --background color to the body background */
  color: var(--text);      
  button{
    color:white;
  }
}
